.gamebackground {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-right: 30%;
    margin-left: 30%;
    border-style: solid;
    border-width: 1px
}
.container {
    display: flex;
}

.memorytile {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 80px;
    width: 18%;
    border-style: solid;
    border-width: 1px; 
}